<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <!-- External Icons-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <title>Home</title>
  </head>

  <body>
    <div class="row2">
      <ul>
        <li><a href="userin">Home</a></li>
        <li><a href="movies">Movies</a></li>
        <li><a href="tvseries">TV Series</a></li>
        <li><a href="about">about</a></li>
        <li><a href="Login">Login</a></li>
      </ul>
    </div>

    <section class="movies container id=movies">
      <div class="movies-content">
        <!-- <LOOP THAT PRINTS EACH OBJECT IN THE DATABASE> -->
        <% testmovie.forEach(function(result) { %>
        <div class="movie-box">
          <a href="<%=result.keyword%>">
            <img
              src="<%=result.img%>"
              alt="One piece poster"
              class="movie-box-img"
            />
            <div class="box-text">
              <h2 class="movie-title"><%-result.title%></h2>
              <span class="movie-type"><%-result.genre%></span>
            </div>
          </a>
        </div>
        <% });%>
      </div>
    </section>
  </body>
</html>
