<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <!-- External Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


        <title>Home</title>
    </head>

<body>
        

          
          <div class="row2">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="movies">Movies</a></li>
                <li><a href="tvseries">TV Series</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
              </ul>
          </div>

          

    
      
        <section class="movies container id=movies">
           

                <div class="movie-box">
                    <img src="dahmer.jpg" alt="Dahmer Poster" class="movie-box-img">
                    <div class="box-text">
                        <h2 class="movie-title">Dahmer – Monster: The Jeffrey Dahmer Story</h2>
                        <div class="movie-description">
                            The story of one of the most notorious serial killers in the United States, largely told from the points of view of his victims.
                        </div>

                    </div>
                </div>
            </div>
        </section>


    
    </body>


</html>