:root{
  --primary-color: #cc2923;
  --secondary-color: #d4d114;
  --text-color: #19fac9;
  --bg-color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
}

body{
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
  color:var(--text-color);
}

.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

/* HOME SECTION */

.home{
  position: relative;
  min-height: 470px;
  display: flex;
  align-items: center;
  margin-top: 5rem ;
  border-radius: 0.5rem;

}

.home-img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  border-radius: 0.5rem;
}

.home-text{
  padding-left: 40px;
}
.home-title{
  font-size: 2rem;
  font-weight: 600px;
}
.home-text p{
  font-size: 1rem;
  margin: 10px 0 20px;
  color: var(--primary-color);
}

.watch-btn{
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  color: var(--primary-color);

}

.movie-box{
  position: relative;
  width: 100%;
  height:  380px;
  overflow: hidden;
}

.movie-box-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-box .box-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:  column;
  justify-content: flex-end;
  padding: 14px;
  background: linear-gradient(8deg,hsl(240 17% 14% /74%));  
  overflow: hidden;
}

.movie-title{

  
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background: rgba(204, 41, 35, 0.8);
  border-radius: 100px;
  width: 230px;
  padding: 10px;
  word-wrap: break-word;
}

.movie-title-box{

  
font-size: 1.1rem;
font-weight: 500;
font-family: Arial, Helvetica, sans-serif;
color: white;
background: rgba(204, 41, 35, 1);
border-radius: 100px;
border-style: solid;
border-color: #000000;
width: 230px;
padding: 10px;
word-wrap: break-word;
}


.movie-type{
  margin-left: 50px;
  background-color: black;
  width: 50%;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}

/* MOVIES PART */

.movies .heading{
  padding: 10px 14px; 
}

.movies-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(247px,1fr));
  gap: 1.5rem;
}

.movie-box:hover .movie-description {
visibility: visible;
width: 600px;

}

.movie-description{
  visibility: hidden;
  width: 400px;
  height: 300px;
  background: rgba(128, 128, 128, 0.8);
  transition: width 0.5s;
  word-wrap: break-word;
  color: #000000;
  position:absolute;
  right: 25px;
  transition-timing-function: ease-in-out;
  text-align: center;
}

/*NAVBAR*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(63, 18, 18);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* ROW 2 NAV*/
  .row2 {
      padding-bottom: 50px;
  
  }  

.row2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(168, 47, 47);
  
}

.row2 li {
  float: left;
}

.row2 li a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14x;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.row2 li a:hover {
  background-color: #111;
}


.form-inline
{
  margin-top: 0.7%;
}

.form-inline input 
{
  font-size: 125%;
  position: absolute;
  border-radius: 40px;
  margin-left: 48rem;
  margin-bottom: 5px;
  text-align: right;
  padding: 0%;
  padding-left: 9px;
  padding-top: 5px;
  padding-bottom: 0px;

  
  margin-top: 0%;
  margin-bottom: 0.7%;
}




